@use "../common/utils.module" as *;

.login-page {
  @include page-default();
}

.left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .picturebox {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & .iljung {
      width: 35%;
      height: auto;
    }

    & .logo {
      width: 10%;
    }
  }
}

.right {
  width: 45%;
  text-align: center;

  & .welcome {
    font-size: 150%;
    font-weight: bolder;
    margin: 15% 0% 5%;
  }

  & .carousel {
    margin: 0% 3% 10%;

    & .slick-dots {
      position: absolute;
      bottom: -25px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
    }

    & .slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
    }

    & .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }

    & .slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: #f2f190;
    }

    & .slick-dots li {
      list-style: none;
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 0;
    }

    & .slick-dots li button:before {
      font-family: "slick";
      font-size: 6px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: "•";
      text-align: center;
      opacity: 0.25;
      color: #3d3d3d;
    }
  }

  & .kakao {
    cursor: pointer;
  }
}
