@use "../common/utils.module" as *;

.register-page {
  @include page-default();
}

.left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .picturebox {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & .iljung {
      width: 40%;
      height: auto;
    }

    & .logo {
      width: 10%;
    }
  }
}

.right {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;

  & .content {
    text-align: start;
    margin-right: 5rem;

    & p {
      margin: 0.5rem 0;
    }

    & .top {
      & h1 {
        font-family: "LeferiPoint-BlackA";
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }

      & p {
        margin: 0.3rem 0;
      }
    }

    & h2 {
      font-family: "LeferiPoint-BlackA";
      margin: 1rem 0 0 0;
    }

    & .nickname-wrapper {
      margin-top: 3rem;

      & .nicknamebox {
        display: flex;
        justify-content: space-between;
      }

      & .nickname {
        width: 73%;
        legend {
          width: auto !important;
        }
      }

      & button {
        width: 25%;
      }
    }

    & .phone-wrapper {
      margin-top: 2rem;
      & .phonecheck {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .numgetbox {
          width: 100%;
          display: flex;
          justify-content: space-between;

          & .numget {
            width: 71%;

            legend {
              width: auto !important;
            }
          }
        }

        & .numcheckbox {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;

          & .numcheck {
            width: 71%;

            legend {
              width: auto !important;
            }
          }
        }
      }
    }

    & .intro-wrapper {
      margin-top: 2rem;

      & .oneline {
        margin-top: 0.5rem;
        width: 100%;
        overflow: auto;
      }

      & .count {
        display: flex;
        justify-content: flex-end;
        color: #757575;
      }
    }
  }

  & .startbox {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & .startbtn {
      width: 70%;
      font-size: 20px;
      font-weight: bolder;
      box-shadow: none;
    }
  }
}
