@use "../common/utils.module" as *;

.register-page {
  @include page-default();
}

.left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .picturebox {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & .iljung {
      width: 35%;
      height: auto;
    }

    & .logo {
      width: 10%;
    }
  }
}

.right {
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  & .content {
    text-align: start;
    width: 90%;

    & .nicknamebox {
      display: flex;
      justify-content: space-between;
    }

    & .nickname {
      width: 84%;
      legend {
        width: auto !important;
      }
    }

    & .oneline {
      width: 100%;
      overflow: auto;
    }

    & .count {
      display: flex;
      justify-content: flex-end;
      color: #757575;
    }

    & .phonecheck {
      display: flex;
      justify-content: space-between;

      & .numgetbox {
        width: 60%;
        display: flex;
        justify-content: space-between;

        & .numget {
          width: 66%;

          legend {
            width: auto !important;
          }
        }
      }

      & .numcheckbox {
        width: 38%;
        display: flex;
        justify-content: space-between;

        & .numcheck {
          width: 46%;

          legend {
            width: auto !important;
          }
        }
      }
    }
  }

  & .startbox {
    display: flex;
    justify-content: center;

    & .startbtn {
      width: 70%;
      font-size: 20px;
      font-weight: bolder;
      box-shadow: none;
    }
  }
}
