@use "../common/utils.module" as *;

.calendar-page {
  @include page-default();
}

.content {
  width: 100%;
}

.date-cell {
  text-align: start;
  display: flex;
  padding: 10px;

  & .name {
    margin-left: 5px;
  }
}