.MainLayout-container {
  height: 100%;
  overflow-y: auto;
}

.MainLayout-container::-webkit-scrollbar {
  position: fixed;
  width: 8px;
}

.MainLayout-container::-webkit-scrollbar-thumb {
  position: fixed;
  background: #D4D4D4;
  border-radius: 10px;
}

.MainLayout-container::-webkit-scrollbar-track {
  position: fixed;
  background: #eeeeeeaa;
}