<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="consoleLayout">[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}"></PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>
        </Logger>
        <Logger name="com.iljungitjung.domain" level="debug" additivity="false">
            <AppenderRef ref="console"></AppenderRef>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>