@use "../common/utils.module" as *;

.setting-page {
  @include page-default();
}

.content {
  width: 100%;
  display: flex;
}

.calendar-container {
  width: 60%;
  height: 100%;
}

.right {
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;

  & .button-group {
    display: flex;
    justify-content: end;

    & button {
      margin: 0 0.5rem;
      box-shadow: unset;
      padding: 0.4rem 1.5rem;
    }
  }

  & .category-container {
    & .title {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      & h2 {
        margin: 0;
      }
    }

    & .content {
      display: flex;
      flex-direction: column;

      & .tabs {
        margin-top: 1rem;
      }
    }
  }
}
