@use "../common/utils.module" as *;

.setting-page {
  @include page-default();
}

.content {
  width: 100%;
  display: flex;
}

.calendar-container {
  width: 60%;
  height: 100%;
}

.right {
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;

  & .button-group {
    display: flex;
    justify-content: end;

    & button {
      margin: 0 0.5rem;
      box-shadow: unset;
      padding: 0.4rem 1.5rem;
    }
  }

  & .category-container {
    & .title {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      & h2 {
        margin: 0;
      }
    }

    & .content {
      display: flex;
      flex-direction: column;

      & .tabs {
        margin-top: 1rem;
      }
    }
  }
}

.modal-content {
  & .text {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
  }

  & .img {
    width: 100%;
    text-align: center;

    & img {
      width: 30%;
    }
  }
}

.time-table-cell {
  &:focus {
    background-color: #f2f2f2 !important;
  }

  & .cell {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.shade {
  background-color: #f2f2f2 !important;
}
