$primary-color: #6b7bb1;

@mixin page-default {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #d9d9d9, $alpha: 0.08);
  display: flex;
}

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 1vw;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(77, 137, 198, 0.205);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: padding-box;
  }
}
